@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}

.Background {
  background-color: #afaaaa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

p {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

.buttonText {
  font-size: calc(10px + 2vmin);
}

.buttons {
  background-color: #afaaaa;
  border: 10px black;
  display: flex;
  margin: 1vmin;
  width: 90vmin;
  height: 10vmin;
  border-style: solid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttons:hover {
  background-color: #999595;
  width: 91vmin;
  height: 11vmin;
}

.TopHalf {
  display: flex;
  height: 40vmin;
  width: 200vmin;
  border: solid black 5px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.BottomHalf {
  display: flex;
  height: 40vmin;
  width: 200vmin;
  border: solid black 5px;
  align-items: center;
  justify-content: center;
}

.StatusBars {
  display: flex;
  height: 10vmin;
  width: 200vmin;
  align-items: center;
  justify-content: space-around;
}

.Characters {
  display: flex;
  height: 20vmin;
  width: 200vmin;
  align-items: center;
  justify-content: center;
  border: black solid;
}